$primeira-cor: hsl(259, 100%, 65%);
$error-cor: hsl(0, 100%, 67%);
$branco-cor: hsl(0, 0%, 100%);
$branco-sujo-cor: hsl(0, 0%, 94%);
$cinza-claro-cor: hsl(0, 0%, 86%);
$cinza-esfumacado: hsl(0, 1%, 44%);
$preto: hsl(0, 0%, 8%)

